<div *ngIf="!showActions" class="center-components" >
  <div *ngFor="let i of inputs; let index = index">
    <app-wizard-page-layout
      [wizardPage]="i"
      [index]="index"
      [isFirstPage]="index === 0"
      [isLastPage]="index === inputs.length - 1"
      [isCondition]="true"
      (onPrevious)="previous($event)"
      (onFormSubmit)="next($event)"
      (onFormSubmitCondition)="onFormSubmitCondition($event)"
    >
    </app-wizard-page-layout>
  </div>
</div>

<div *ngIf="showActions" class="container p-3 my-3 bg-black text-white">
  <button
    type="button"
    (click)="navigate(true)"
    class="btn btn-primary"
    tooltip="import some wizardPages.json from local machine"
    placement="bottom"
    [delay]="500"
  >
    <i class="fas fa-file-upload"></i>
  </button>

  <button
    type="button"
    (click)="navigate(false)"
    class="btn btn-primary"
    style="margin: 5px;"
    tooltip="get new wizard pages from api"
    placement="bottom"
    [delay]="500"
  >
    new
  </button>
</div>
