<div class="container my-3 text-white f_1">
  <div class="f_2">
    <button
      type="button"
      (click)="navigate(true)"
      class="btn btn-primary fLeft"
      tooltip="import some wizardPages.json from local machine"
      placement="bottom"
      [delay]="500"
    >
      IMPORT
    </button>

    <button
      type="button"
      (click)="navigate(false)"
      class="btn btn-primary fRight"
      tooltip=" new wizard pages"
      placement="bottom"
      [delay]="500"
    >
      NEW
    </button>

    <!-- <label class="btn btn-primary">
      import<input
        type="file"
        value="Upload json"
        accept="json/*"
        (change)="onSelectFile($event)"
      />
    </label> -->
  </div>

</div>
