.deployment-container{
  width: 60vw;
}

.progressbar{
  width: 40;
}
example-h2 {
  margin: 10px;
}

.progressbar-section {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;

}
.messages-section {
  display: flex;
  align-content: left;
  align-items: left;
  flex-direction: column;
}
.log-section {
  display: flex;
  align-content: left;
  align-items: left;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  height: 60vh;
  background-color: black;
  border: white solid 2px;
}

.example-margin {
  margin: 0 10px;
}
