<mat-card style="width: 70vw;">
  <mat-card-content>
    <h2 class="example-h2">
      <section class="messages-section">
        <p>{{ message }}</p>
      </section>
    </h2>
    <section class="progressbar-section">
      <mat-progress-bar mode="buffer" [bufferValue]="bufferValue"></mat-progress-bar>
    </section>
    <section class="log-section">
      <div class="log-container">
        <p *ngFor="let page of log" [ngStyle]="{'color': page.color}">[{{ page.time }}] - {{ page.content }}
        </p>
      </div>
    </section>

  </mat-card-content>
</mat-card>