<section class="progressbar-section">
  <mat-progress-bar mode="buffer" [bufferValue]="bufferValue"></mat-progress-bar>
</section>
<mat-accordion>
  <mat-expansion-panel *ngFor="let domain of domainsToInstall; let index" (click)="changeDomain(domain.name)"
    [expanded]="domain.name === activeDomain.name">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-spinner diameter="20" class="deployement-spinner" *ngIf="!domain.icon"></mat-spinner>
        <mat-icon>{{domain.icon}}</mat-icon>
        {{ domain.displayName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card style="width: 70vw;">
      <mat-card-content *ngIf="domain.logs">
        <section class="log-section">
          <div class="log-container">
            <p *ngFor="let logLine of domain.logs" [ngStyle]="{'color': logLine.color}">[{{ logLine.time }}] -
              {{ logLine.content }}
            </p>
          </div>
        </section>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
<mat-card-actions class="button-container">
  <button color="accent" mat-button>Cancel</button>
</mat-card-actions>