.sidnav-button {
  align-items: left;
  text-align: left;
}

.button-container {
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
}

.side-bar-list{
  display: flex;
  align-items: left;
}
