<div mat-button class="main-div">
  <mat-card *ngIf="page" class="inputs-card">
    <mat-card-header>
      <mat-card-title>{{ page.displayName }}</mat-card-title>
      <img mat-card-avatar class="component-logo" mat-card-avatar src="{{ page.image }}" />
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div *ngFor="let input of page.inputs" class="form-row">
          <app-input-component [input]="input" [form]="form"></app-input-component>
        </div>
        <div class="button-row">
          <div class="row-spacer"></div>
          <div>
            <button class="form-button" submit color="primary" [disabled]="!form.valid" mat-stroked-button disabled>
              Save
            </button>
          </div>
          <div>
            <button class="form-button" type="button" color="primary" (click)="onCancel()" mat-stroked-button>
              Cancel
            </button>
          </div>
          <div>
            <button class="form-button" type="button" color="primary" (click)="onReset()" mat-stroked-button>
              Reset
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>