<div *ngIf="!showWizardPages" class="f_import">  
  
  <h4 class="f_import_h">
    Please upload JSON file:
  </h4>
  
  <input
    type="file"
    value="Upload json"
    accept="json/*"
    (change)="onSelectFile($event)"
  />
</div>

<div
  class="container f_import_1"
  *ngIf="showWizardPages"
>
  <!-- <div class="row">
    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="previous()"
      [disabled]="0 >= this.inputIndexShow"
      *ngIf="this.inputIndexShow > 0"
    >
      previous
    </button>
    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="next()"
      [disabled]="!allowNext"
      *ngIf="this.inputsShowArrLength - 1 > this.inputIndexShow"
    >
      next
    </button>

    <button
      type="button"
      class="btn btn-primary btn-sm"
      (click)="next()"
      *ngIf="this.inputsShowArrLength - 1 === this.inputIndexShow"
    >
      finish
    </button> -->
  <!-- </div> -->
  <div *ngFor="let i of inputs; let index = index">
    <div *ngIf="inputsShowArr && inputsShowArr[index]">
      <app-wizard-page-layout
        [wizardPage]="i"
        [index]="index"
        [isFirstPage]="index === 0"
        [isLastPage]="index === inputs.length - 1"
        (onPrevious)="previous($event)"
        (onFormSubmit)="next($event)"
      >
      </app-wizard-page-layout>
    </div>
  </div>
</div>
