<div class="container" >
  <label *ngIf="!showWizardPages" class="btn btn-primary">
    upload json:
    <input
      type="file"
      value="Upload json"
      accept="json/*"
      (change)="onSelectFile($event)"
    />
  </label>

  <div *ngIf="showWizardPages">
    <div class="center-components" *ngFor="let i of inputs; let index = index">
      <div *ngIf="inputsShowArr && inputsShowArr[index]">
        <app-wizard-page-layout
          [wizardPage]="i"
          [index]="index"
          [isFirstPage]="index === 0"
          [isLastPage]="index === inputs.length - 1"
          (onPrevious)="previous($event)"
          (onFormSubmit)="next($event)"
          (onFormSubmitForMore)="onFormSubmitForMore($event)"
        >
        </app-wizard-page-layout>
      </div>
    </div>
  </div>
</div>
