<div [formGroup]="form">
  <div [ngSwitch]="input.controlType">
    <mat-form-field appearance="legacy" *ngSwitchCase="'text'">
      <mat-label>{{ input.displayName }}</mat-label>
      <input class="input-component" matInput [formControlName]="input.id" />
      <mat-hint>{{ input.tooltip }}</mat-hint>
      <mat-error *ngIf="!isValid()">
        {{ input.errorMessage || "Value is invalid!" }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" *ngSwitchCase="'textarea'">
      <mat-label>{{ input.displayName }}</mat-label>
      <textarea matInput [formControlName]="input.id"></textarea>
      <mat-hint>{{ input.tooltip }}</mat-hint>
      <mat-error *ngIf="!isValid()">
        {{ input.errorMessage || "Value is invalid!" }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" *ngSwitchCase="'select'">
      <mat-label>{{ input.displayName }}</mat-label>
      <mat-select class="input-component" [formControlName]="input.id">
        <mat-option>-- </mat-option>
        <mat-option *ngFor="let option of input.options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
      <mat-hint>{{ input.tooltip }}</mat-hint>
    </mat-form-field>
    <div  *ngSwitchCase="'checkbox'">
      <mat-checkbox  matInput [formControlName]="input.id">{{ input.displayName }}</mat-checkbox>
    </div>
  </div>
</div>
