<app-wizard-page-header
  class="header"
  [wizardPageHeader]="wizardPage.header"
></app-wizard-page-header>

<app-wizard-page-info
  class="info"
  [wizardPageInfo]="wizardPage.info"
></app-wizard-page-info>

<app-wizard-page-form
  [wizardPageUserInputs]="wizardPage.userValueType"
  [isFirstPage]="isFirstPage"
  [isLastPage]="isLastPage"
  [index]="index"
  [repeatable]="wizardPage.repeatable"
  [isCondition]="isCondition"
  [lastIsCondition]="wizardPage.formType ? true : false"
  (onSubmit)="onSubmit($event)"
  (onPrevious)="previous($event)"
  (onSubmitCondition)="onSubmitCondition($event)"
  (onSubmitForMore)="onSubmitForMore($event)"
></app-wizard-page-form>
