
.toolbar-icon {
  padding: 0 14px;
}



.toolbar-button-container {

margin-left: 10px;
margin-right: 10px;

}
button{
  color: black !important;
  background-color: white !important;
}


.control-buttons-row{
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;


}


