
.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-button-container {
  display: flex;
  justify-content: center;
  width: 80px;
}

.toolbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
