@import '~@angular/material/theming';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/material/prebuilt-themes/purple-green.css';
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

/*
$app-primary: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-accent: (
    50 : #fffde7,
    100 : #fff9c4,
    200 : #fff59d,
    300 : #fff176,
    400 : #ffee58,
    500 : #ffeb3b,
    600 : #ffe935,
    700 : #ffe52d,
    800 : #ffe226,
    900 : #ffdd19,
    A100 : #ffffff,
    A200 : #fffffd,
    A400 : #fff7ca,
    A700 : #fff2b1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


 $primary-color-dark:   #FFA000;
$primary-color:        #FFC107;
$primary-color-light:  #FFECB3;
$primary-color-text:   #212121;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD; */


/* Palette generated by Material Palette - materialpalette.com/light-blue/orange */

/* $primary-color-dark:   #0288D1
$primary-color:        #03A9F4
$primary-color-light:  #B3E5FC
$primary-color-text:   #FFFFFF
$accent-color:         #FF9800
$primary-text-color:   #212121
$secondary-text-color: #757575
$divider-color:        #BDBDBD */

$app-primary: (
    50 : #e1f1f9,
    100 : #b3dbf1,
    200 : #81c4e8,
    300 : #4eacdf,
    400 : #289ad8,
    500 : #0288d1,
    600 : #0280cc,
    700 : #0175c6,
    800 : #016bc0,
    900 : #0158b5,
    A100 : #ffffff,
    A200 : #abceff,
    A400 : #78b1ff,
    A700 : #5ea2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-accent: (
    50 : #fff3e0,
    100 : #ffe0b3,
    200 : #ffcc80,
    300 : #ffb74d,
    400 : #ffa726,
    500 : #ff9800,
    600 : #ff9000,
    700 : #ff8500,
    800 : #ff7b00,
    900 : #ff6a00,
    A100 : #ffffff,
    A200 : #F0902B,
    A400 : #ffd6bf,
    A700 : #ffc5a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($app-primary, 'A100');
$accent: mat-palette($app-accent, 'A200');

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.main-div {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: left;


}

.form-row {
  margin: 5vh;
  width: 15vw;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.form-button{
  margin: 10px;
}

.wizard-card {
  cursor: pointer;
  width: 10vw;
  margin: 15px;
/*   margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: left;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  width: 10vw; */
}
.wizard-card-content{
  padding-top: 15px;
  font-size: smaller;
}

.component-logo {
  background-size: cover;
}



.logo-div {
  padding-top: 10px;
  margin-left: 10px;
  width: 4vw;
  display: flex;
  flex-direction: row;

}

.logo-fennec-div {
  padding-top: 5px;
  margin-right: 10px;
  width: 2.5vw;
  display: flex;
  flex-direction: row;
}

.logo-image {
  width: 100%;
}
