@import '~@angular/material/theming';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/material/prebuilt-themes/purple-green.css';
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';


$app-primary: (
    50 : #fff8e1,
    100 : #ffecb5,
    200 : #ffe083,
    300 : #ffd451,
    400 : #ffca2c,
    500 : #ffc107,
    600 : #ffbb06,
    700 : #ffb305,
    800 : #ffab04,
    900 : #ff9e02,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe4bf,
    A700 : #ffd9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-accent: (
    50 : #fffde7,
    100 : #fff9c4,
    200 : #fff59d,
    300 : #fff176,
    400 : #ffee58,
    500 : #ffeb3b,
    600 : #ffe935,
    700 : #ffe52d,
    800 : #ffe226,
    900 : #ffdd19,
    A100 : #ffffff,
    A200 : #fffffd,
    A400 : #fff7ca,
    A700 : #fff2b1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


/* $primary-color-dark:   #FFA000;
$primary-color:        #FFC107;
$primary-color-light:  #FFECB3;
$primary-color-text:   #212121;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD; */

$primary: mat-palette($app-primary, 'A700');
$accent: mat-palette($app-accent);

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.main-div {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: left;


}

.wizard-card {
  cursor: pointer;
  width: 10vw;
  margin: 15px;
/*   margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: left;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  width: 10vw; */
}
.wizard-card-content{
  padding-top: 15px;
  font-size: smaller;
}

.component-logo {
  background-size: cover;
}



.logo-div {
  padding-top: 10px;
  margin-left: 10px;
  width: 4vw;
  display: flex;
  flex-direction: row;

}

.logo-fennec-div {
  padding-top: 10px;
  margin-right: 10px;
  width: 2.5vw;
  display: flex;
  flex-direction: row;
}

.logo-image {
  width: 100%;
}
