<div class="control-buttons-row">
  <div class="toolbar-button-container">
    <button mat-mini-fab md-fab-bottom-right (click)="home()" color="accent" matTooltip="Home">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div class="toolbar-button-container">
    <button mat-mini-fab md-fab-bottom-right (click)="openConfirmationDialog()" color="accent" matTooltip="Confirm & Submit">
      <mat-icon>check</mat-icon>
    </button>
  </div>
  <div class="toolbar-button-container">
    <input type="file" ng2FileSelect hidden #fileInput accept=".json" (change)="onFileChanged($event)" />
    <button mat-mini-fab md-fab-bottom-right (click)="upload()" color="accent" matTooltip="Upload Previous JSON Form">
      <mat-icon>publish</mat-icon>
    </button>
  </div>
  <div class="toolbar-button-container">
    <button mat-mini-fab md-fab-bottom-right (click)="export()" color="accent" matTooltip="Export The Form In JSON Format">
      <mat-icon>get_app</mat-icon>
    </button>
  </div>
  <div class="toolbar-button-container">
    <button mat-mini-fab md-fab-bottom-right (click)="deleteAll()" color="accent" matTooltip="Delete & Reset From Data">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
