<mat-toolbar class="toolbar-header" color="primary">
  <mat-toolbar-row>
    <span>
      {{displayNameDomain}}
    </span>
    <span>

    </span>
    <span class="toolbar-spacer"></span>
    <a style="font-size: 12px !important; margin-right: 10px;">Version 0.0.1</a>
    <div class="toolbar-button-container">
      <a href="https://github.com/Rhinops-Sela/" target="_blank" mat-mini-fab color="primary"
        matTooltip="Visit Out Github Project">
        <fa-icon [icon]="faGithub" size="2x"></fa-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
